<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>INICIO</title>
  </head>
  <body>
    <h1>Nuevo producto</h1>

    <div class="form">  
      <form onsubmit="return addProduct(this)">
        <label for="title">Modelo</label><br />
        <input type="text" name="title" id="title" required /><br />
        <label for="price">Precio</label><br />
        <input type="number" name="price" id="price" required /><br />
        <label for="thumbnail">Link de imagen</label><br />
        <input type="link" name="thumbnail" id="thumbnail" required /><br />
        <button>Enviar</button>
      </form>
    </div>  
    
    <%- include('form.ejs') -%>

    <%- include('productos.ejs') -%>
    
    <script src="main.js"></script>
  </body>
</html>