<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>EJS</title>
  </head>
  <body>
<!--     <a href="/productos" type="button">Ir al listado</a> -->

    <h2>Listado de productos</h2>
    <!-- <a href="/" type="button">Ir a cargar un nuevo producto</a> -->
    
    <div id="listaProductos"></div>
    <script src="main.js"></script>
  </body>
</html>
